# Database Configuration
DB_HOST=localhost      # each dev will change this in their own .env
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ledger_bank_api_dev

# Phoenix
SECRET_KEY_BASE=replace-me-with-mix-phx-gen-secret

# External mock service
BANK_BASE_URL=http://localhost:4001/mock
